[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"

[packages]
ffmpeg-python = "*"
youtube-dl = "*"
tqdm = "*"

[requires]
python_version = "3.7"
